.title{
  font-size: 5em;
}
.title-small{
  font-size: 2.5em;
}

.strong{
  font-weight: bold;
}


.white{
  color: #fff;
}


.white-light{
  color: #DDD;
}

.intro{
  color:#FFF;
  background: #0088bb;
  background-image: url('../images/bg.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  height:650px;
  font-weight: bold;
}

.outro{
  color:#FFF;
  background: #0088bb;
  background-image: url('../images/bg1.png');
  background-position: center center;
  background-repeat: no-repeat;
/*  border-bottom: 2px #666 solid;  
  border-top: 2px #666 solid;  */
}

.footer{
  border-top: 2px #0088bb solid;
}

.intro-desc{
  /*color:#EEE;*/
  background: #0088bb;
}


.intro h1{
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  text-shadow: 1px 0 0 #0088bb, -1px 0 0 #0088bb, 0 1px 0 #0088bb, 0 -1px 0 #0088bb, 1px 1px #0088bb, -1px -1px 0 #0088bb, 1px -1px 0 #0088bb, -1px 1px 0 #0088bb;
}


.social img{
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
}

.social img:hover{
  opacity: 0.85;
}

/* switch hover */
div.switch label{
  transition: background-color 300ms ease-out;
}

div.switch label:hover{
  transition: background-color 300ms ease-out;
  background-color: #007095;
}