body{
	margin: 0;
	padding: 0;
	/*background: #0088bb;*/
}

hr{
  /*border-color: #0088bb;*/
}

li .switch , li .switch label{
  margin-bottom: 0px;
}

div.switch input:checked + label.success{
  background-color: #43ac6a;
}

.top-menu{
  transition:background-color 0.5s ease;
  opacity:0.75;
}

.top-menu.bg  {
  background-color: #0088bb;
  opacity:0.95;
  border-bottom: 1px solid #87c7df;
}

.top-menu .sub-nav{
  margin-bottom: 8px;
  
}

.top-menu .sub-nav dd a{
  color:#FFF;
  text-transform: uppercase;
  margin-left: 0;
  font-weight: bold;
}

.sub-nav.white-top{
  margin-top: 15px;
  margin-bottom:0;
}
.sub-nav.white-top dd a{
  color:#FFF;
  text-transform: uppercase;
  font-weight: bold;
}



.mt0{
  margin-top: 0px;
}

.mt10{
  margin-top: 10px;
}

.pt15{
  padding-top: 15px;
}

.ml15{
  margin-left: 15px;
}

.mb0{
  margin-bottom: 0px;
}

.mt30{
  margin-top: 30px;
}

.mt20{
  margin-top: 30px;
}

.mb30{
  margin-bottom: 30px;
}

.mb20{
  margin-bottom: 20px;
}

.mt10{
  margin-bottom: 10px;
}

.pt20{
  margin-top: 20px;
}

.pb30{
  padding-bottom: 30px;
}

.pt30{
  padding-top : 30px;
}

.pt50{
  padding-top : 50px;
}

.pt60{
  padding-top : 60px;
}
