body{
	margin: 0;
	padding: 0;
	/*background: #0088bb;*/
}

hr{
  /*border-color: #0088bb;*/
}

li .switch , li .switch label{
  margin-bottom: 0px;
}

div.switch input:checked + label.success{
  background-color: #43ac6a;
}


.mt0{
  margin-top: 0px;
}

.mb0{
  margin-bottom: 0px;
}

.mt30{
  margin-top: 30px;
}

.mb30{
  margin-bottom: 30px;
}

.mb20{
  margin-bottom: 20px;
}

.mt10{
  margin-bottom: 10px;
}

.pb30{
  padding-bottom: 30px;
}


.pt30{
  padding-top : 30px;
}
