body{
	margin: 0;
	padding: 0;
	/*background: #0088bb;*/
}

hr{
  /*border-color: #0088bb;*/
}

li .switch , li .switch label{
  margin-bottom: 0px;
}

.mb0{
  margin-bottom: 0px;
}

.mb30{
  margin-bottom: 30px;
}